Neos:
  Flow:
    mvc:
      routes:
        'Flownative.Pixxio':
          position: 'after Neos.Neos'

  Media:
    assetSources:
      'flownative-pixxio':
        assetSource: 'Flownative\Pixxio\AssetSource\PixxioAssetSource'
        assetSourceOptions:
          # A custom label for this Pixx.io asset source
          label: 'pixx.io'

          # The customer-specific endpoint URI pointing to the Pixx.io API:
          # Example: 'https://acme.pixxio.media/api/v1'
          apiEndpointUri: ''

          # The API key of this Pixx.io integration.
          apiKey: ''

          # Options for the Guzzle HTTP Client as specified here
          # see http://docs.guzzlephp.org/en/6.5/request-options.html
          # Use this to configure custom certificates or to disable cert verification
          apiClientOptions: {}

          # Additional configuration for specific media types
          mediaTypes:
            'image/svg+xml':
              usePixxioThumbnailAsOriginal: true
            'application/pdf':
              usePixxioThumbnailAsOriginal: true

          # This plugin can automatically tag files in the pixxio media library
          # when they are in use, and remove the tag once they are not used anymore
          autoTagging:
            enable: false
            inUseTag: 'used-by-neos'
